
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype')
}



.iconfont {
  font-family:"iconfont" !important;
  font-size:0.48rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-i-car:before { content: "\e600"; }

.icon-i-phone:before { content: "\e737"; }

.icon-i-delete:before { content: "\e692"; }

.icon-i-order:before { content: "\e607"; }

.icon-i-right:before { content: "\e635"; }

.icon-i-yong:before { content: "\e605"; }

.icon-i-share:before { content: "\e627"; }

.icon-i-rmb:before { content: "\e602"; }

.icon-i-selecter:before { content: "\e698"; }

.icon-i-select:before { content: "\e626"; }

.icon-i-left:before { content: "\e61f"; }

.icon-i-my:before { content: "\e62a"; }

.icon-i-edit:before { content: "\e651"; }

.icon-i-shop:before { content: "\e645"; }

.icon-i-arrow:before { content: "\e61b"; }

.icon-i-kf:before { content: "\e618"; }

.icon-i-mark:before { content: "\e674"; }

.icon-i-pay:before { content: "\e62d"; }

.icon-i-selected:before { content: "\e6b1"; }

.icon-i-msg:before { content: "\e620"; }

.icon-i-up:before { content: "\e601"; }

.icon-i-down:before { content: "\e603"; }

.icon-i-search:before { content: "\e608"; }

.icon-i-go:before { content: "\e625"; }

